:root {
  --Gondola: #090606;
  --White: #FFFFFF;
  --Biloba-Flower: #F5F0F11A;
  --Cod-Gray: #0E0D0D;
  --Radical-Red: #FF3F58;
  --Night-Rider: #0A0606;
}

body{
  background-color: var(--Gondola);
  color: var(--White);
  position: relative;
  font-family: Roboto;
  box-sizing: border-box;
}

.header,
.menu,
.section-block,
.section-notice-board,
.section-diagram,
.menu-icon,
.today-incomeing-classes,
.exam-shedule {
  background-color: var(--Cod-Gray);
}

/* Header */

.header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
}

.header-logo {
  margin: 23px 0 0 40px;
}

.logo {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 23px;
}

.logo-vector {
  margin: -15px 0 0 -7px;
}

.header-account {
  margin: 17px 0 0 -500px;
}

.account {
  margin: 0 10px;
}

.header-search {
  margin: 14px 40px 0 0;
}

.search {
  width: 266px;
  height: 24px;
  border: 1px solid var(--Biloba-Flower);
  border-radius: 4px;
  padding: 10px 10px 10px 16px;
  background-color: var(--Gondola);
  outline: none;
}

.header-bell {
  margin-left: 10px;
  width: 41px;
  height: 41px;
}

/* Menu */
.container {
  display: flex;
  justify-content: space-between;
}

.menu {
  width: 220px;
}

img {
  vertical-align: middle;
}

.list-menu {
  padding-top: 86px;
}

.list-menu li {
  list-style-type: none;
  padding: 10px 0 10px 20px;
  box-sizing: border-box;
  margin-left: 18px;
  background-color: var(--Cod-Gray);
  border: 1px solid var(--Cod-Gray);
}

.list-menu li:hover {
  border: 1px solid var(--Radical-Red);
  background-color: var(--Radical-Red);
  width: 160px;
  height: 38px;
  border-radius: 5px;
  transition: background-color .2s linear, border .2s linear;
}

.link-menu {
  margin-left: 10px;
}

.link-menu:nth-last-child(2) {
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: var(--White);
}

button:hover {
  cursor: pointer;
}

/* Section */


.section {
  height: 161px;
  width: 849px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: var(--Gondola);
  margin-top: 25px;
}

.section-blocs {
  display: flex;
  justify-content: space-between;
}

.section-block {
  width: 267px;
  height: 161px;
  position: relative;
  border-radius: 10px;
}

.icon-main,
.circle-one,
.circle-two {
  position: absolute;
}

.icon-main {
  z-index: 3;
  top: 34px;
  left: 35px;
}

.circle-one {
  z-index: 2;
  top: 20px;
  left: 20px;
}

.circle-two {
  top: 16px;
  left: 16px;
}

.item {
  margin: 20px 0 0 92px;
}

.item-statistics {
  position: relative;
}

.line-first,
.line-two {
  position: absolute;
  top: 30px;
  left: 10px;
}

.text {
  margin-left: 10px
}

.value {
  margin-left: 225px;
}

.quantity {
  font-weight: 500;
  margin-top: 10px;
  font-size: 20px;
}

.main-line {
  margin: -18px 0 0 160px;
}

/* right-Menu */

.section-notice-board {
  width: 267px;
  height: 528px;
  border-radius: 10px;
  padding: 21px 16px 0 16px;
  box-sizing: border-box;
  margin: 25px 90px 0 0;
  line-height: 130%;
}

.title-notice {
  font-size: 20px;
}

.icon-notice-board {
  margin: -45px 0 0 200px;
}

.block {
  padding: 0 16px;
  width: 235px;
  height: 71px;
  padding: 11px 0 11px 12.5px;
  box-sizing: border-box;
  border-radius: 5px;
}

.block:first-of-type {
  background-color: var(--Night-Rider);
}

.text-block {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin: -52px 0 0px 60px;
}

.link {
  width: 153px;
  height: 35px;
}

.date {
  font-weight: 400;
  font-size: 10px;
  opacity: 0.6;
  margin-left: 60px;
}

.section-notice-board div {
  padding: 0 16px;
  width: 235px;
  height: 71px;
  padding: 11px 0 11px 12.5px;
  box-sizing: border-box;
  margin: 12px 0;
}

.section-notice-board a {
  width: 153px;
  height: 35px;
}

/* Graph*/

.section-diagram {
  height: 343px;
  padding: 0px 24px 0 15px;
  margin-top: 24px;
  border-radius: 10px;
}

.column-amount {
  width: 80px;
  height: 232px;
}

h2 {
  margin-bottom: 32px;
}

.column-amount div {
  margin-bottom: 24px;
  position: relative;
}

.icon-row,
.icon-row2,
.icon-row3,
.icon-row4 {
  position: absolute;
  top: 10px;
  left: 10px;
}

.column-amount div span {
  font-weight: 400;
  opacity: 0.8;
  margin-left: 8px;
}

.section-graph {
  margin: -200px 0 0 85px;
  position: relative;
}

.section-graph img {
  position: absolute;
}

.shadow-blue {
  top: 5px;
  left: 6px;
}

.shadow-red {
  left: 5px;
}

.section-graph p {
  font-size: 10px;
  height: 40px;
  width: 72px;
  border: 1px solid var(--Radical-Red);
  background-color: var(--Radical-Red);
  border-radius: 3px;
  text-align: center;
  text-transform: capitalize;
  line-height: 16px;
  margin: 5px 339px 128px 298px;
  position: absolute;
}

.light {
  margin: 54px 363px 7px 324px;
}

.circle {
  margin: 55px 367px 164px 320px
}

.circle-orange {
  margin: 63px 367px 164px 332px
}

.row-bottom {
  margin: 190px 0 24px 88px;
  display: flex;
  justify-content: space-between;
}

/* Bottom-section */

.bottom-section {
  display: flex;
  justify-content: space-between;
}

.menu-icon {
  height: 400px;
  width: 220px;
}

.icon-girls {
  margin: 100px 0 20px 30px;
}

.download-link {
  text-align: center;
  padding: 0 40px;
  text-transform: capitalize;
}

.download-link a {
  text-decoration: underline;
}

.today-incomeing-classes {
  width: 558px;
  height: 343px;
  border-radius: 10px;
  padding-left: 24px;
  margin-top: 24px;
}

.date-today-incomeing-classes {
  font-size: 12px;
  font-weight: 400;
  opacity: 0.7;
}

.exam-shedule {
  width: 558px;
  height: 343px;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 24px 90px 0 0;
}

h5 {
  font-size: 20px;
  margin-bottom: 8px;
}

.form {
  margin: -40px 0 0 350px;
  position: relative;
}

.loupe-two,
.circle-icon {
  position: absolute;
}

.loupe-two {
  top: 7px;
  left: 7px;
}

select {
  margin-left: 40px;
  outline: none;
  width: 91px;
  height: 30px;
  background-color: var(--Cod-Gray);
  color: var(--White);
  border-color: var(--Biloba-Flower);
  border-radius: 5px;
  cursor: pointer;
}

.table-two {
  margin-top: 32px;
}

.table-two td {
  vertical-align: middle;
}

.image {
  text-align: left;
  width: 200px;
}

button {
  border: 1px solid var(--Radical-Red);
  background-color: var(--Radical-Red);
  width: 85px;
  height: 30px;
  border-radius: 5px;
  color: var(--White);
}

td p {
  background: url('./images/icon-eye.svg') no-repeat left;
  width: 120px;
}

h4 {
  font-size: 20px;
  margin-left: 20px;
}

table {
  table-layout: fixed;
  width: 509px;
  height: 232px;
  text-align: center;
}

.opacity {
  opacity: 0.5;
}

.red-background {
  background: url('./images/red-bg.svg') no-repeat center;
}

.yellow-circle-bg,
.yellow-circle-bg-two {
  background: url('./images/yellow-circle.svg') no-repeat center;
}

.red-circle-bg {
  background: url('./images/red-circle-table.svg') no-repeat center;
}

.blue-background {
  background: url('./images/blue-circle-table.svg') no-repeat center;
}

.exam-shedule p {
  margin: -43px 0 36px 350px;
    position: relative;
}

.exam-shedule p::after {
  content: url('./images/right-arrow.svg');
  position: absolute;
  left: 98px;
  top: -1px;
  cursor: pointer;
}

.exam-shedule p::before {
  content: url('./images/left-arrow.svg');
  position: absolute;
  left: -30px;
  top: -2px;
  cursor: pointer;
}
